body{
    background:#4DA8DA ;
    color: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
   
}
.border{
    border : black solid 1px;
    border-radius: 20px;
    background: #203647 ;
}

.controls button{
    font-family: monospace;
    font-size: 25px;
    background: #F6f6f6 ;
    border-radius: 10px;
    border : black solid 3px;

}
.stopwatch {
    height: 20vh;
    font-size: 10em;
    font-family:  monospace;
    
}

.laps{
    font-size: 2em;
    font-family:  monospace;
}
}

ul{
    margin : 0;
    padding: 0;
}

ul li {
    list-style: none;
    padding: 10px 0;
}